/*Color palet: #38445C #6898F5 #86A2DB #3A465E #677DA8*/
.header{
    background-color: #38445c;
    height: 300px;
    border-radius: 15px;
}

.WashnGoLogo h1{
    margin-top: 0;
    text-align: center;
    font-size: 100px;
    color: white;
    padding-top: 25px;
}

.container {
    text-align: center;
}

.form *{
    line-height: 3;
}
.formItem{
    width: 100%;
}
label{
    text-align: left;
    padding: 5px, 0;
}
.input {
    width: 100%;
    padding: 15px;
    font-size: 15px;
}
  
  .btn {
    font-size: 25px;
    padding: 10px 16px;
    margin: 20px 0;
    color: #ffffff;
    background: #6898F5;
    border-radius: 5px;
    width: 50%;
}
  

